<div class="d-flex node">
  <%= render 'shared/sidebar' ,node: @node %>
  <div>
    <h1>Mon classement</h1>
    <%= render 'nodes/mindmap',visnode: @visnode, visedge: @visedge, node: @node %>
  </div>
</div>
