<div class="d-flex">
  <%= render 'shared/sidebar', node: @nodenew %>

  <div>
    <h1>Nodes#show</h1>
    <p>Find me in app/views/nodes/show.html.erb</p>

    <div>
      <div class="responses">
        <%= render 'nodes/responses',  node: @node %>
      </div>

      <div class="input_prompt">
        <%= render 'prompts/prompt_input',  node: @node, prompt: @prompt %>
      </div>
    </div>
  </div>


</div>
