

<div class="d-flex show-node">
  <%= render 'shared/sidebar', node: @nodenew %>

  <div>
    <div >
      <div class="responses" >
        <%= render 'nodes/responses',  node: @node %>
      </div>

      <div class="input-prompt">
        <%= render 'prompts/prompt_input',  node: @node, prompt: @prompt %>
      </div>
    </div>
  </div>


</div>
