

<div class="d-flex show-node node">
  <%= render 'shared/sidebar', node: @nodenew %>

  <div data-controller="scroll-prompt">
    <div >
      <div class="responses" data-scroll-prompt-target="insert">
        <%= render 'nodes/responses',  node: @node %>
      </div>

      <div class="input-prompt">
        <%= render 'prompts/prompt_input',  node: @node, prompt: @prompt %>
      </div>
    </div>
  </div>
</div>
