
<div class="banner" style="background: $fond">
  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <h1>Brain Ai Hack</h1>
      <p>Brain Ai Hack est une application web qui permet de créer des multi-prompts<br>
       et de les relier entre eux pour créer des mindmaps visuelles et inteligentes</p>
      <a class="btn btn-flat btn-primary" href="/nodes">testez vos idées!</a>
    </div>
    <div>
      <%= render 'prompts/submarine' %>
    </div>
  </div>
</div>

<div class="banner d-flex justify-content-between align-items-center" style="background: linear-gradient(140deg, rgba(102,20,95,1) 0%, rgba(2,0,36,1) 25%);">
  <img src="https://res.cloudinary.com/dk7qaea1j/image/upload/v1711113764/brain-ai-hack/homepage2_fpu4fl.png" alt="nodes" style="width: 800px; heigth: 700px;" class="ms-5 border border-primary rounded">
  <div class="me-5">
    <h1>Avec Brain Ai Hack <strong>découvrez</strong> une <strong>nouvelle façon de prompter</strong>!</h1>
    <p>Interroger plusieurs IA en même temps, de façon transparente et avec grande facilité.</p>
    <a class="btn btn-flat btn-primary" href="/nodes">testez vos idées!</a>
  </div>
</div>

<div class="banner d-flex justify-content-between align-items-center" style="background: linear-gradient(330deg, rgba(102,20,95,1) 0%, rgba(2,0,36,1) 25%);">
  <div class='ms-5'>
    <h1>Brain Ai Hack <strong>permet</strong> simplement <strong>de tous classer visuellement</strong>!</h1>
    <p>Ne cherchez plus pendant des heures votre travail dans des répertoires ennuyeux. Vous avez tous, en un seul regard</p>
    <a class="btn btn-flat btn-primary" href="/nodes">testez vos idées!</a>
  </div>
  <img class="me-5 border border-primary rounded" src="https://res.cloudinary.com/dk7qaea1j/image/upload/v1711113763/brain-ai-hack/homepage1_ssrtxt.png" alt="nodes" style="width: 800px; heigth: 700px;">
</div>
<%= render 'shared/footer' %>
