
<div class="banner" style="background: $fond">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat btn-primary" href="/nodes">testez vos idées!</a>
  </div>
</div>

<div class="banner d-flex justify-content-between align-items-center" style="background: linear-gradient(140deg, rgba(102,20,95,1) 0%, rgba(2,0,36,1) 25%);">
  <img src="https://res.cloudinary.com/dbdmgxxer/image/upload/v1711033732/brain-ai-hack/Capture_d_%C3%A9cran_2024-03-21_160413_oz0ywg.png" alt="nodes" style="width: 800px; heigth: 700px;" class="ms-5 border border-primary rounded">
  <div class="me-5">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat btn-primary" href="/nodes">testez vos idées!</a>
  </div>
</div>

<div class="banner d-flex justify-content-between align-items-center" style="background: linear-gradient(330deg, rgba(102,20,95,1) 0%, rgba(2,0,36,1) 25%);">
  <div class='ms-5'>
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat btn-primary" href="/nodes">testez vos idées!</a>
  </div>
  <img class="me-5 border border-primary rounded" src="https://res.cloudinary.com/dbdmgxxer/image/upload/v1711033732/brain-ai-hack/Capture_d_%C3%A9cran_2024-03-21_160413_oz0ywg.png" alt="nodes" style="width: 800px; heigth: 700px;">
</div>
