.form-login {
  background: $fond;
  color: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 8px $purple;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100% !important;
    margin-bottom: 20px;
  }
}
