// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "card";
@import "form";
@import "sidebar";
@import "banner";
@import "submarine";
@import "footer";
@import "form";
@import "category";
@import "tag";
@import "tin_right_out";

body{
  height: 100vh;
  background: $fond;
  color: white;
  font-family: "__Inter_aaf875", "__Inter_Fallback_aaf875";
}

.node {
  margin-left: 85px;
  transition: 0.5s;
}

.btn {
  border-radius: 25px;
  &:hover {
    background-color: lighten($purple,25%);
  }
}

@import "mindmap";
