// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "card";
@import "form";
@import "sidebar";
@import "banner";
@import "submarine";
@import "footer";
@import "form";
@import "category";
@import "tag";
@import "tin_right_out";
@import "button";
@import "mindmap";

body{
  height: 100vh;
  background: $fond;
  color: white;
  font-family: "__Inter_aaf875", "__Inter_Fallback_aaf875";
}

.node {
  margin-left: 85px;
  transition: 0.5s;
}

.btn {
  border-radius: 25px;
  &:hover {
    background-color: lighten($purple,25%);
  }
}

.node-popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 250px;
  height: 120px;
  background-color: $fond;
  border-style: solid;
  border-width: 3px;
  border-color:$purple;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

#form-search {

  .search {
    color: white !important;
    width: 500px;
    box-shadow: 0 0 8px $purple;
    border: rgb(100, 20, 94);
    border-radius: 10px;
    background-color: $fond !important;
    margin-left: 2em;
  }

  .submit {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 20px;
    color: $purple;
    display: block;
    button {
      background-color: transparent;
      border: none;
      color: $purple;
      font-size: 30px;
      cursor: pointer;

      &:hover {
        color: lighten($purple, 10%);

      }
    }
  }
}

@import "mindmap";
