.sidebar {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 0;
  background: $fond;
  background: linear-gradient(310deg, rgba(102, 20, 95, 1) 0%, rgba(2,0,36,1) 25%);
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
  transition: 0.5s;

  .active {
    color: lighten($purple, 20%);

    .button {
      color: lighten($purple, 20%) ;
      background-color: rgba(150, 150, 150, 0.082);
      border-radius: 25px;
    }
    .submit {
      color: lighten($purple, 20%);
      background-color: rgba(150, 150, 150, 0.082);
      border-radius: 25px;
      button {
        color: lighten($purple, 20%);

        border-radius: 25px;
        }
    }
    a {
      color: lighten($purple, 20%);
      background-color: rgba(150, 150, 150, 0.082);
      border-radius: 25px;
      }

  }
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(141, 141, 141);
  display: block;
  }

.sidebar a:hover {
  color: rgb(255, 255, 255);
 }

.material-icons,.icon-text {
 vertical-align: middle;
}

.fa-solid {
padding-bottom: 3px;
margin-right: 30px;
}

.sidebar .submit {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(141, 141, 141);
  display: block;
    button {
    background-color: transparent;
    border: none;
    color: rgb(141, 141, 141);
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: white;
      border-radius: 25px;
    }
  }

}

.sidebar .submit:hover {
  color: rgb(248, 243, 243);
}

.icondiv:hover {
  // box-shadow: 3px 5px 15px rgb(83, 83, 83);
  border-radius: 25px;
  background-color: rgba(150, 150, 150, 0.082);
  color: white;
}
